<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
        <charset>UTF-8</charset>
      <pattern>%d{HH:mm:ss} [%thread] %-5level %logger{36} - %msg</pattern>
    </encoder>
  </appender>
  
  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>log/_pms.log</file>
    <encoder>
      <pattern>%d{HH:mm:ss} %level %r [%thread] %logger{10} [%file:%line] %msg%n</pattern>
    </encoder>
  </appender>
  
  <appender name="HTML" class="ch.qos.logback.core.FileAppender">
    <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
      <layout class="ch.qos.logback.classic.html.HTMLLayout">
        <pattern>%d{HH:mm:ss}%thread%r%-5level%logger{36}%msg</pattern>
      </layout>
    </encoder>
    <file>log/_pms.html</file>
  </appender>
  
  <appender name="DB" class="ch.qos.logback.classic.db.DBAppender">
    <connectionSource class="ch.qos.logback.core.db.DriverManagerConnectionSource">
      <driverClass>com.mysql.jdbc.Driver</driverClass>
      <url>jdbc:mysql://localhost:3306/pms?characterEncoding=UTF-8</url>
      <user>pms_user</user>
      <password>pms_pass</password>
    </connectionSource>
  </appender>

<!--  <logger name="cz.vsmie.krist.pms.controllers" level="DEBUG" additivity="false">
      <appender-ref ref="FILE" />
  </logger>-->
  
<!--  <logger name="org.hibernate" level="info">
      <appender-ref ref="STDOUT"/>
  </logger>-->
  
  <logger name="cz.vsmie.krist.pms" level="DEBUG" additivity="true">
      <appender-ref ref="DB"/>
  </logger>
  
    <root level="INFO">
    <appender-ref ref="STDOUT" />
  </root>
  
</configuration>