@import 'reset.css';
@import url('http://fonts.googleapis.com/css?family=Noto+Sans:400,400italic,700');

body{
    font-family: "Century Gothic", sans-serif;
    background-color: #d0e5f5;
    font-size: 14px;
}

/* universal */
a{
    color:#000;
    text-decoration: underline;
}
br.clear{
    clear: both;
}

b{
    color: #333;
    font-weight: bold;
}

h1{
    font-size: 16px;
    color:#fff;
    font-weight: bold;
    margin-bottom: 10px;
    background-color: #2e6e9e;
    width: 800px;
    margin:-20px 0 10px -20px;
    padding:10px;
    border-radius: 0 0 20px;
}

h2{
    margin-bottom: 5px;
}

h3{
    margin:7px 0;
}

#appInfo{
    float:left;
    margin:15px 0 10px 20px;
}
#appInfo p{
    font-size: 20px;
}
#appInfo p span{
    color:#fff;
}

#principalInfo{
    float:right;
    margin:15px 20px 10px 0;
}
#header{
    background: url("../img/bg_glass.png") repeat-x; 
    
}
#menu{
    padding:10px 0 0 10px;
    border-bottom:3px solid #2e6e9e;
}

#menu ul li{
    display:inline;
}
#menu ul li a{
    display: inline-block;
    border-radius: 5px 5px 0 0;
    padding:10px;
    color:#fff;
}

#menu ul li a:hover, #menu ul li a.active{
    background-color: #2e6e9e;
    text-decoration: none;
}

#content{
    padding: 20px;
    min-height: 400px;
    margin-bottom: 80px;
}

ul.simpleList{
    width:400px;
}
ul.simpleList li{
    line-height: 28px;
    padding:4px;
    border-radius: 5px;
}
ul.simpleList li:hover{
    background-color: #6ea7d2;
}
ul.simpleList li a{
    display: inline-block;
    min-width: 200px;
}



#footer{
    position: fixed;
    left:0;
    bottom:0;
    height: 20px;
    width:100%;
    padding:20px;
    background-color: #6ea7d2;
    border-top:3px solid #2e6e9e;
    text-align: center;
}

/*FORMS*/

form {
    
}

form label{
    width:100px;
    display:inline-block;
}

form input[type=text], form input[type=password]{
    display:inline-block;
    width:200px;
    padding:4px;
    margin:2px;
}

/*user form*/

#userForm #custom-select{
   float:left;
   width: 206px;
   margin-right:2px;
   height: 34px;
   overflow: hidden;
   background: url("../img/option_select.jpg") no-repeat left #6ea7d2;
   margin-bottom: 10px;
}
#userForm #custom-select select{                                                                                                                                                                                                                    
   background: transparent;
   width: 230px;
   padding: 5px;
   padding-left: 35px;
   font-size: 16px;
   border: 1px solid #fff;
   height: 34px;
}                                                                                                           
#custom-select:focus{
    outline:none;
    border:none;
}


/* FORMULÁŘ PROJEKTU */
#projectForm{
    width:400px;
    /*border: 1px solid black;*/
}
#projectForm *{
    border-radius: 5px;
}
#projectForm label{
    width: 100px;
    margin-bottom: 10px;
}

#projectForm input[type=text], select{
    width:200px;
    border:1px solid #6ea7d2;
}
#projectForm textarea{
    padding:5px;
    width:90%;
    display:block;
    border:1px solid #6ea7d2;
}
#projectForm .projectContent{
    height: 300px;
}

#projectForm .phase{
    background-color: #6ea7d2;
    padding:5px;
    margin-left: 5px;
}
#authorizedUsers select{
    margin-top:10px;
    width:200px;
    display:block;
    min-height: 200px;
}



.miniActionForm{
    display: inline-block;
    float: right;
}

a.actionButton{
    display: inline-block;
    width:150px;
    padding:0 10px;
    line-height: 100px;
    height: 100px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    background: url('../img/bg_glass.png');
}

a.actionButton:hover{
    background: url('../img/bg_blue_1x100.png');
    color:#fff;
}

span.on{
    color: #4bbd28;
}
span.off{
    color: #d52205;
}