@import 'reset.css';
@import url('http://fonts.googleapis.com/css?family=Noto+Sans:400,400italic,700');

body{
    font-family: "Century Gothic", sans-serif;
    background-color: #fff;
    font-size: 14px;
}

/* universal */
a{
    color:#000;
    text-decoration: underline;
}
a:hover{
    color:#fff ;
}
br.clear{
    clear: both;
}

b{
    color: #333;
    font-weight: bold;
}
p{
    line-height: 20px;
}
em{
    font-style: italic;
}

#content a:hover{
    color: #2e6e9e;
}
h1{
    font-size: 16px;
    color:#fff;
    font-weight: bold;
    margin-bottom: 10px;
    background-color: #2e6e9e;
    width: 800px;
    margin:-20px 0 10px -20px;
    padding:10px;
    border-radius: 0 0 20px;
}

h2{
    margin: 10px 0;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 2px solid #2e6e9e;
}

h3{
    margin:5px 0px;
    font-weight: bold;
}
#languages{
    position: absolute;
    left:15px;
    top:5px;
}
#languages a{
    display:inline-block;
    width:16px;
    height:16px;
    margin-right: 5px;
}

#languages a.cs{
    background: url('../img/flag_cs_16.png') no-repeat;
}

#languages a.en{
    background: url('../img/flag_uk_16.png') no-repeat;
}

#appInfo{
    float:left;
    margin:20px 0 10px 15px;
}
#appInfo p{
    font-size: 20px;
}
#appInfo p span{
    color:#fff;
}

#principalInfo{
    float:right;
    margin:15px 20px 10px 0;
}
#header{
    background: url("../img/bg_glass.png") repeat-x; 
    border-bottom:3px solid #2e6e9e;
    
}
#header #menu{
    float:left;
    padding:10px 0 0 10px;
/*    border-bottom:3px solid #2e6e9e;*/
}

#header #menu ul li{
    display:inline;
}
#header #menu ul li a{
    display: inline-block;
    border-radius: 5px 5px 0 0;
    padding:10px;
    color:#fff;
}

#header #menu ul li a:hover, #menu ul li a.active{
    background-color: #2e6e9e;
    text-decoration: none;
}


#content{
    padding: 20px;
    min-height: 400px;
    margin-bottom: 80px;
}
#content{
    font-size: 12px;
}

ul.simpleList{
    width:400px;
}
ul.simpleList li{
    line-height: 34px;
    padding:4px;
    border-radius: 5px;
}
ul.simpleList li:hover{
    background-color: #dfeffc;
}
ul.simpleList li a{
    display: inline-block;
    
}
ul.simpleList li a:hover{
    color: #0972a5 !important;
}

#services{
    width: 800px;
}
.service{
    border:1px solid #2e6e9e;
    width:380px;
    padding:5px;
    margin:0 5px 5px 0;
    display:inline-block;
}
.service:hover{
    background-color: #dfeffc;
}

#footer{
    position: fixed;
    left:0;
    bottom:0;
    height: 20px;
    width:100%;
    padding:20px;
    background-color: #6ea7d2;
    border-top:3px solid #2e6e9e;
    text-align: center;
}

/*FORMS*/

form {
    
}

form label{
    width:100px;
    display:inline-block;
}

form input[type=text], form input[type=password]{
    display:inline-block;
    width:200px;
    padding:4px;
    margin:2px;
}
/* FORMULAR KOMENTARU */
form#comment{
    background-color: #fff;
    width:780px;
    padding:10px;
    border:1px solid #2e6e9e;
    
    /*margin-bottom: 10px;*/
}
#comment input[type=submit]{
    float: right;
}
#commentsBlock{
    width:800px;
}
#commentContent{
    width:770px;
    margin-bottom: 10px;
}

/* vypis komentaru */
div.comment{
    width:780px;
    padding:10px;
    /*background-color: #dfeffc;*/
    border: 1px solid #2e6e9e;
    border-top: none;
}
.comment:hover{
    background-color: #d0e5f5;
}
.comment p{
    margin-top: 5px;
    font-style: italic;
}
.comment h3{
    color: #000;
    padding:2px;
    border-radius: 0 0 5px 0;
    width:300px;
    margin:-10px 0 0 -10px;
    background-color: #d0e5f5;
}

.comment h4.bottomLine{
    font-size: 10px;
    float:right;
    margin-bottom: -5px;
}
div#requirementList{
    width: 400px;
    margin-bottom: 10px;
    
}

div.requirement{
    background-color: #dfeffc;
    padding:5px;
    margin-bottom: 5px;
}

.requirement h3.headline{
    background-color: #d0e5f5   ;
    padding:5px;
    margin:-5px -5px 0 -5px;
}

.requirement .counter{
    float: left;
    background-color: #dfeffc;
    border-radius: 5px 5px 0 0;
    padding:5px;
    /*margin:-5px -5px 0 0;*/
    margin:-5px 5px 0 -5px;
}

/* UZIVATELSKY FORMULAR */

form#userForm{
    width:1200px;
}

#userForm #custom-select{
   float:left;
   width: 206px;
   margin-right:2px;
   height: 34px;
   overflow: hidden;
   background: url("../img/option_select.jpg") no-repeat left #6ea7d2;
   margin-bottom: 10px;
}
#userForm #custom-select select{                                                                                                                                                                                                                    
   background: transparent;
   width: 230px;
   padding: 5px;
   padding-left: 35px;
   font-size: 16px;
   border: 1px solid #fff;
   height: 34px;
}                                                                                                           
#custom-select:focus{
    outline:none;
    border:none;
}


/* FORMULÁŘ PROJEKTU */
#projectForm{
    max-width:1200px;
}
#projectForm label{
    font-weight: bold;
}
#projectForm div.fillingPart{
    background-color: #6ea7d2 !important;
    margin-left: -10px;
    /*border-radius: 0 0 5px 5px;*/
    padding:10px;
}
#projectForm div.fillingPart label{
    /*font-size: 14px;*/
}

/*info o dalsim kroku*/
#projectForm div.fillingPart p{
    color:#fff;
    font-weight: bold;
}

#projectForm #phasesBlock{
    float: left;
}

#projectForm #projectBlock{
    width: 565px;
    border: 2px solid #6ea7d2;
    border-left: 5px solid #6ea7d2;
    border-radius: 0 10px 10px 10px;
    padding-left:10px;
    float:left;
    /*margin-left: 50px;*/
}
#projectForm #projectBlock.phase.deployed{
    border-color: #00cc66;
}
#projectForm #projectBlock.phase.deployed .fillingPart{
    background-color: #00cc66 !important;
}

#projectForm #projectBlock.phase.complaint{
    border-color: #d52205;
}
#projectForm #projectBlock.phase.complaint .fillingPart{
    background-color: #d52205 !important;
}

#phasesBlock ul li{
    width:200px;
    padding:10px;
    border-radius: 5px 0 0 5px;
}
#phasesBlock ul li.current{
    background-color: #6ea7d2;
}
#phasesBlock ul li.current.complaint{
    background-color: #d52205;
}
#phasesBlock ul li.current.deployed{
    background-color: #4bbd28;
}


#projectBlock ul li{
    display:inline;
}

#projectForm input, #projectForm textarea{
    border-radius: 5px;
}
#projectForm label{
    width: 100px;
    margin-bottom: 10px;
}

#projectForm input[type=text], select{
    width:200px;
    border:1px solid #6ea7d2;
}
#projectForm textarea{
    padding:5px;
    width:400px;
    display:block;
    border:1px solid #6ea7d2;
}
#projectForm .projectContent{
    height: 300px;
}

#projectForm td.phase{
    position: absolute;
    /*float:left;*/
    background-color: #6ea7d2;
    left:0px;
    z-index: 10;
    width:100px;
    height: 20px;
    padding:5px;
    margin-left: 5px;
}
#authorizedUsers select{
    margin-top:10px;
    width:200px;
    display:block;
    min-height: 200px;
}

form#projectForm input.readonly, form#projectForm textarea.readonly{
    border:none !important;
    background-color: transparent;
}

.miniActionForm{
    display: inline-block;
    float: right;
}

a.actionButton{
    margin-top: 10px;
    display: inline-block;
    width:150px;
    padding:0 10px;
    line-height: 30px;
    height: 30px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    background: url('../img/bg_glass.png');
}

a.actionButton:hover{
    background: url('../img/bg_blue_1x100.png');
    color:#fff !important;
    font-weight: bold;
}

span.on{
    color: #4bbd28;
}
span.off{
    color: #d52205;
}

#eventsArea{
    width: 800px;
}

table#events{
    width:800px;
    border-collapse: collapse;
    border:2px solid #2e6e9e;
}
table#events a:hover{
    color:#fff;
}
table#events tr{
   
}
table#events tr:nth-child(even) {
    background:#d0e5f5 ;
}
table#events tr:nth-child(odd) {
    background: #FFF
}

table#events th{
    font-weight: bold;
    background-color: #2e6e9e;
    padding:5px;
}
table#events thead tr{
    
    color:#fff;
}
table#events td{
    padding:3px;
}
table#events td.action{
    text-align: right;
    padding-right: 5px;
}
table#events tr.row:hover td{
    background-color: #6ea7d2;
}

/* DETAILY PROJEKTU */
#leftBlock{
    float: left;
}
#rightBlock{
    float: left;
    margin-left: 20px;
}

table#projectDetails{
    width:800px;
}
th#column2{
    text-align: right;
}


#projectDetails tr td{
    border-bottom: 1px solid #2e6e9e;
    padding:5px;
}

#projectDetails tr td:first-child{
    width:200px;
    font-weight: bold;
}

#projectDetails ul li{
    display: inline;
}

/* LOGGER EVENTS */
#loggingEvents{
    width:800px;
}
table#logTable{
    width:100%;
    
}
#logTable td, #logTable th{
    padding:2px;
}
#logTable thead, #logTable thead tr:hover{
    background-color: #2e6e9e;
    color:#fff;
}

#logTable tr:hover{
    background-color: #d0e5f5;
}
#logTable th.level{
    width:80px;
}

/* UPOZORNOVACI OBLAST */
#header #infoZone{
    /*float: right;*/
    position: absolute;
    top:67px;
    right:10px;
}

#infoZone a.notice{
    display: inline-block;
    color:#fff;
    /*padding:10px 15px;*/
    text-decoration: none;
    border-radius: 5px 5px 0 0;
    background-color: #2e6e9e;
    line-height: 47px;
    text-indent: 13px;
    width: 32px;
    height: 32px;
    background:url('../img/notify_area.png') no-repeat;
}

#infoZone a.notice.prjNotice{
    background-position: 0 0;
}
#infoZone a.notice.prjNotice:hover{
    background-position: 0 -32px;
}
#infoZone a.notice.reqNotice{
    background-position: -64px 0;
}
#infoZone a.notice.reqNotice:hover{
    background-position: -64px -32px;
}
#infoZone a.notice.comNotice{
    background-position: -32px 0;
}
#infoZone a.notice.comNotice:hover{
    background-position: -32px -32px;
}
.errorMessage{
    color:#d52205;
}
.okMessage{
    color:#00cc66;
}

table#bachelorTable td{
    padding:5px;
    
}
.name{
    font-size: 14px;
}
input.name{
    font-size: 18px;
    width: 300px !important;
}