<!DOCTYPE html>
<html lang="cs" dir="ltr">
<head>
<meta charset="UTF-8">
<title>Zpráva</title>
</head>
<body>
<h3>Dobrý den.</h3>
<div>
   <p>Dobrý den, <b>${user.name}</b></p>
   <p>Rádi bych Vás tímto upozornili, že stále nemáte zaplacenou zálohu za projekt <a href="http://localhost:8080/pms/project/details/${project.id}-${project.name}">${project.name}</a></p>
<ul>

</ul>
</div>
</body>

</html>