<!DOCTYPE html>
<html lang="cs" dir="ltr">
<head>
<meta charset="UTF-8">
<title>Zpráva</title>
</head>
<body>
<h1>Zpráva ze systému PMS</h1>
<h2>Dobrý den.</h2>
<div>
   <p>Byl vytvořen nový projekt <b>${project.name}</b>, ke kterému máte oprávnění.</p>
</div>
<p>Tento email je automaticky generován, neodpovídejte na něj.</p>
</body>
</html>